body
  font: sans-serif
  background: black
  color: greenyellow

h1
  font-size: 36pt

a.door
  color: black
  font-size: 22pt
  display: table-cell
  float: left
  border: 1px solid black
  width: 80px
  height: 160px
  background: darkgray
  cursor: pointer
  border-radius: 12px
  padding: 5px
  text-align: center
  vertical-align: middle
  margin-right: 1em
  margin-bottom: 0.4em
  box-shadow: 0.5 em whitesmoke

  &.selectable
    background: yellow

  &.selectedByPlayer
    //background: olivedrab
